.editFrameWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.editFrameContainer {
  position: relative;
  padding: 60px 70px;
}

.editFrame {
  width: 399px;
  height: 574px;
  position: relative;
  overflow: hidden;
  .frame {
    width: 100%;
    height: 100%;
  }
  .userImg {
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}
.fake {
  width: 1.6cm;
  height: 2.3cm;
  background-size: cover;
}
.scaleButton {
  height: 38px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 15px;
  line-height: 22px;
  &.active {
    background-color: #808080;
    color: white;
  }
  &.symbol {
    line-height: 15px;
    font-weight: bold;
    position: absolute;
    &.top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.left {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &.right {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
